This is a file of some text, containing at least a few {{mu_variable}} template
place holders that will do some specific action {{>mustache_partial}}.

This is another paragraph with a {{mu_variable_2}} in it.

{{#block}}
This should test a block with internal {{variable}} in it.
{{/block}}